<h2> <%= @user.name %>'s page</h2>

<%= @user.name %> belongs to the following teams:

<ul>
  <% @user.teams.each do |team| %>
  <li><%= team.name %></li>
  <form action='<%= team_url(team.id) %>' methd='get'>
    <input type='submit' value="Return to <%= team.name %>'s page">
  </form>

    <%end%>
</ul>