<h2><%= @project.title %></h2>
</br>
</br>
    <% @project.items.each do |item| %>
    Items to do:
    <ul>
      <li>
        <%= link_to(item_url(item)) do%>
        <%= item.title %>
        <% end %></br>

      </li>
      <ul>
        <li>
          <%= (item.completed == false || item.completed == nil) ?  "Incomplete" : "Complete" %>
        </li>
      </ul>
    </ul>
    <%end%>

    <form action='<%= team_url(@project.team_id) %>' method='get'>
      <input type='submit' value="Return to Team">
    </form>
